@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');

* {
    margin: 0;
}


#inicio {
    height: calc(100vh - 56px);
}

.bg-grey {
    background-color: #e5e5e5;
}

.bg-sides{
    background-color: #e0d7c7;
}

.bg-top {
    background-color: #fffbe8;
}

#logo {
    background-image: url('../img/logo_cat.png');
    background-repeat: no-repeat;
    background-position: center;
}


#seleccion {
    height: calc(100vh - 56px);
}


.slide img {
    padding-top: 50px;
    height: calc(100vh - 120px);
}

.cajas{
    margin: 20px;
    margin-top: 60px;
    box-sizing: border-box;
    width: 280px;
    height: 350px;
    border: 2px solid black;
}

.cajas1{
    margin: 20px;
    margin-top: 60px;
    box-sizing: border-box;
    width: 280px;
    height: 400px;
    border: 2px solid black;
}

.text-center{
    text-align: center;
    align-items: center;
}

.info {
    padding: 80px;
    text-align: center;
    align-items: center;
}

.titulo {
    text-align: center;
}

#catlovers {
    height: calc(100vh - 144px);
}

#contacto {
    padding-top: 10vh;
    height: calc(100vh - 56px);
}

.portada {
    margin-top: 20vh;
    margin-bottom: 10vh;
}